name: Build dist

on: pull_request

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Rebuild dist/
        run: npm run package

      - name: Check for changes
        id: diff
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Commit updated dist/
        if: steps.diff.outputs.changed == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add dist/
          git commit -m "build: rebuild dist/"
          git push
