name: lint
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: lts/*
      - run: npm ci
      - run: npm run lint
